#wpcontent { font-family: 'Laila', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-weight: 300; }
h1, h2, h3, h4, h5, .form-table th, .form-wrap label { font-weight: 500; }

.verso-general-form{
    .form-table{
        display: inline-block;
        width: auto;
    }
}

.verso-sidebar-preview {
    float: right;
    display: inline-block;
    width: 280px;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    border: 1px solid;
}
.verso-sidebar { display: block; text-align: center; }
